*{
    margin: 0;
    padding: 0;
}
.headerclass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.headerclass nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
.headerclass nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}
.headerclass button{
    background-color: green;
    color: white;
    border: none;
    padding: 12.5px 16px;
    border-radius: 5px;
    font-size: 15px;
}
.headerclass .h2class .h2para {
    font-weight:normal;
    color: black;
}
